main{
	display: flex;
	flex-direction: row;
}

.menu__menu-item:nth-child(4) .menu__menu-link{
  background: #DCDCDC;
  color: #000;
}

.articles{
	width: 100%;
	display: flex;
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 2%;
	height: auto;
	flex-direction: column;
}

.articles>div{
	display: flex;
	flex-direction: row;
	margin: 0;
}

.article{
	margin: 0 1% 2%;
	width: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 2% 3%;
	height: auto;
	min-height: 100px;
        border-radius: 10px;
	background: #FFFAF0;
	opacity: .85;
	font-size: 1.5em;
}

.article:hover{
	background-color: #FFF0F5;
}

.article__header{
	margin: 0;
	margin-top: 1%;
	margin-bottom: 2%;
color:#008080;
}

.article__img {
	width: 200px;
	padding-right: 2%;
}

.article-2 {
	width: 50%;
}

.img-3 {
	width: 95%;
opacity: 1;
}

.rightimg{
    float: right;  
    margin: 7px 0 7px 7px; 
}

.leftimg{
	float:left;
    margin: 7px 7px 7px 0; 
}


.line{
	border-style: solid;
	border-color: black;
	height: 30px;
	border-radius: 20px;
}

.line-bottom {
	display: block;
	content: "";
	border-width: 0 0 1px 0;
}

.line-top {
	margin:0;
	border-width: 1px 0 0 0;
}

.form-test{
	padding: 5%;
}

@media only screen and (max-width: 799px){

.articles {
	width: 100%;
}

.article {
	width: 95% !important;
	margin: 0;
	margin-bottom: 2%; 
	margin-left: 6%;
	margin-right: 5%;
}

 .articles>div{
    flex-direction: column;
    align-items: center;
 }



}