{% extends "base.tmpl" %}
{% block content %}
    <main>
        <h2 class="add-header">Share information</h2>
        <div class="articles">
            <div class="article" style="width: 75%">

                <form id="contact-form" method="post">
                    <div>
                        <label class="field-lable" for="textarea">
                            Short Discription<br>

                        </label><br>
                        <form method="POST">
                        <textarea class="message-textarea" name="topic" maxlength="5000" cols="30" rows="3" required=""></textarea
                        </form>

                    </div>
                    <div>
                        <form method="POST" >
                        <input id="button" name="myButton" type="submit" value="Send"/>
                        </form>
                    </div>

                </form>
            </div>
        </div>

    </main>
{% endblock %}