{% extends "base.tmpl" %}
{% block content %}
	<div class="gallery">
		<div class="gallery__container">
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/bloodRiver.jpg"><span class="subtext"> {{ img1 }} </span></a>
			</div>
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/village.jpg"><span class="subtext">{{ img2 }}</span></a>
			</div>
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/cemetry.jpg"><span class="subtext">{{ img3 }}</span></a>
			</div>
		</div>
		<div class="gallery__container">
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/for.jpg"><span class="subtext">{{ img4 }}</span></a>
			</div>
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/ring.jpg"><span class="subtext">{{ img5 }}</span></a>
			</div>
			<div class="gallery__img-container">
				<a href="#" class="img__link"><img class="gallery__img" src="../locations/locationsContent/forest.jpg"><span class="subtext">{{ img6 }}</span></a>
			</div>
		</div>
	</div>
{% endblock %}