{% extends "base.tmpl" %}
{% block content %}
    <main>
        <div class="articles">
            <div>

                <div class="article" style="width: 100%">
                    <h3 class="article__header">{{ array[0].head }}</h3>
                    <img class="article__img leftimg" src="mysteriesContent/spirit.jpg" style="width: 40%">
                    <p>
                            {{ array[0].topic }}
                    </p>
                </div>

            </div>
            <div>
                <div class="article">
                    <h3 class="article__header">{{ array[1].head }}</h3>
                    <img class="article__img  leftimg" src="mysteriesContent/holyring.jpg" style=" height: 180px;">
                    <p>
                        {{ array[1].topic }}
                    </p>
                </div>
                <div class="article article-2">
                    <h3 class="article__header">{{ array[2].head }}</h3>
                    <img class="article__img rightimg" src="mysteriesContent/bury.jpg" style=" height: 180px;">
                    <p>
                            {{ array[2].topic }}
                    </p>
                </div>
            </div>
            <div>
                <div class="article" style="width: 100%">
                    <h3 class="article__header">{{ array[3].head }}</h3>
                    <img class="article__img leftimg" src="mysteriesContent/tattoo.jpg" style="width: 40%">
                    <p>
                        {{ array[3].topic }}
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}